[submodule "apps/mac/ThirdParty/ghostty"]
	path = apps/mac/ThirdParty/ghostty
	url = https://github.com/wanggang316/ghostty.git
	branch = v1.3.1-tc
[submodule "apps/mac/ThirdParty/git-wt"]
	path = apps/mac/ThirdParty/git-wt
	url = https://github.com/khoi/git-wt.git
[submodule "apps/mac/ThirdParty/zmx"]
	path = apps/mac/ThirdParty/zmx
	url = https://github.com/wanggang316/zmx.git
	branch = v0.6.0-tc
